/* nav{
    display: flex;
} */
.wrapper{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-evenly;
    align-items: center;
    padding: 15px 10%;
    /* background-color: blueviolet; */
    font-family: 'Poppins', sans-serif;
    position: fixed;
    width:100%;
    height: 80px;
    background-color: var(--bg);
    box-shadow: 1px 5px 48px -15px rgba(0,0,0,0.75);
    -webkit-box-shadow: 1px 5px 48px -15px rgba(0,0,0,0.75);
    z-index: 1;
    /* height: 100%; */
}

.brand{
    flex:1;
    /* background-color: burlywood; */
}

.brand a{
    font-weight: bold;
    color: rgb(58, 61, 231);
    font-size: 1.5em;
}

.nav{
    flex:2;
    /* background-color: aqua; */
    display: none;
    /* flex-direction: column; */
    
}

.nav ul{
    display: flex;
    /* flex-direction: column; */
    /* justify-content: space-evenly; */
    text-decoration: none;
    list-style-type: none;
}
.nav li{
    padding: 0 10px;
}

/* .icon{
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    font-weight: bold;
    font-size: 2.5em;
    margin: 2% 15%;
    background-color: teal;
} */

/* .icon_div{
    display: flex;
    justify-content: center;
    align-items: center;
} */
.icon_div img{
    position: absolute;
    top: 0;
    text-align: center;
    right: 0;
    margin: 3.5% 15%;
    width:45px;
}

  @media only screen and (min-width: 800px) {

    .wrapper{
      height: 80px;
      flex-direction: row;
      /* background-color: tomato; */
    }

    .icon_div img{
        margin: 15px 40px;
        /* background-color: teal; */
    }

    .nav{
        display: flex;
        justify-content: space-around;
        /* background-color: violet; */
    }

    .nav ul{
      flex-direction: row;
      
    }
    .nav li{
        padding: 0px 100px;
    }
}  